.media-modal .label{
	background-color: transparent;
}
.btn_container{
	padding-top: 10px;
}

#EditPageGeneral textarea{
	width: 90%;
}

#EditPageMedia .btn{
	margin-top: 10px;
}

.for_mesage_alert{}

.scrollbar_cat_filter{
	height: 200px;
	overflow-y: auto;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 5px;
}


#EditPageSpecs .odd-row{
	background: #EEEEEE;
}

#EditPageSpecs .spec_field_name {
	padding: 20px 5px;
}
#EditPageSpecs .spec_field_value{
	padding-top: 10px;
}
#EditPageSpecs .spec_field_value textarea{
	width: 90%;
	max-width: 90%;
}
#EditPageArticles .articlebox {
	padding: 10px;
	width: 90%;
}

.respond_review {
	margin-top: 20px;
	padding: 20px;
	background-color: #eee;
}
.container_reviews > div.row-fluid {
	margin: 10px 0 0 0;
	padding: 20px  10px 10px;
	border-bottom: 2px #d5e3e3 solid;
	border-right: 1px #d5e3e3 solid;
	border-top: 1px #d5e3e3 solid;
	border-left: 1px #d5e3e3 solid;
}
.container_reviews .review-title{
	font: 14px arial;
	font-weight: bold;
	color: #0184e7;
	height: auto;
	margin: 0;
	padding: 0 0 15px 0;
	width: auto;
	border-bottom: 1px #e2eaea solid;
}
.container_reviews .sum {
	font: 12px/18px arial;
	font-weight: bold;
	font-weight: bold;
	color: #222525;
	margin: 0;
	padding: 0;
}
.container_reviews .review-content{
	font-weight: normal;
	font-family: Arial, sans-serif;
	font-size: 12px;
	margin-bottom: 20px;
	color: #5C6363;
}
.media_main{
	list-style-type: none;
	margin: 0;
}
.media_main .media_container{
	width: 30%;
	margin-top: 10px;
	margin-left: 2%;
	display: inline-block;
	border: 1px solid #ccc;
}
.media_box > *{
	width: 100%;
}
.media_main .sortable_box{
	padding: 10px;
	background-color: #ccc;
}
.media_main .sortable_box i:hover{
	cursor: pointer;
}
.media_box img{
	display: block;	
}
.container_page .ratings_product tbody tr td{
	padding: 0;
}
.attachments-browser .attachments,
.attachments-browser .uploader-inline{
	right: 0;
}
.attachments-browser .media-sidebar{
	display: none;
}
#can_CrowdsUnite, #newsletter_mailchimp {
	width: auto;
}
.settings_content input[type="checkbox"] {
	margin:0;
}
.settings_content p.muted {
	font-size: 10px;
}