/*
Theme Name: Listings - Bookclub
Version: 1.1.6
Description: Child theme for Listings by WooThemes.
Author: WooThemes
Author URI: http://www.woothemes.com
Template: listings
*/
 
@import url("../listings/style.css");

/*-------------------------------------------------------------------------------------------

INDEX:

0. RESET

1. SETUP
-1.1 Defaults
-1.2 Hyperlinks

2. SITE STRUCTURE & APPEARANCE
-2.1 Containers & Columns
-2.2 Navigation
-2.2.1 Drop-down menus
-2.3 Header
-2.4 Content
-2.5 Upload Listing Template
-2.6 Sidebar
-2.7 Footer

3. POSTS
-3.1 Typographic Elements
-3.2 Images
-3.3 Pagination / WP-Pagenavi
-3.4 Info boxes

4. WIDGETS
-4.1 Generic Widgets
-4.2 Specific Widgets
-4.3 WooTabs

5. COMMENTS
-5.1 Comments
-5.2 Pingbacks / Trackbacks
-5.3 Comments Form

6. MISC
-6.1 Buttons
-6.2 IE Specific

-------------------------------------------------------------------------------------------*/

/*-------------------------------------------------------------------------------------------*/
/* 1. SETUP */
/*-------------------------------------------------------------------------------------------*/

/* 1.1 Defaults */

body { background-image:none; background-color: #ddd; font-family: arial, sans-serif; }

/*-------------------------------------------------------------------------------------------*/
/* 2. SITE STRUCTURE & APPEARANCE */
/*-------------------------------------------------------------------------------------------*/

/* 2.1 Containers & Columns */

#container {border: none;}

/* 2.2 Navigation */

#navigation {background: #bb600a url(images/nav-bg.png) repeat-x; }
.nav li {background-image: url(images/nav-li.png); }
.nav li:hover, .nav li.current-menu-item {background-color: rgba(0,0,0,0.1);}
.nav a {text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8); font-weight: bold; font-size: 12px; padding: 15px 30px; color: #fff !important; }
.nav .sf-sub-indicator {background-image: url(images/arrow-superfish.png);}
.nav-buttons #n a, .nav-buttons #p a {background-color: #000;}

/* 2.3 Header */

#twitter-top {width: 500px;}

/* 2.3.1 Search Module */

.search_module {-moz-box-shadow:none; background: #fff url(images/grad-trans.png) repeat-x; border-bottom-color: #ccc; border-top-color: #943f06 }
.search_title h2, .tags_title h2 {background-image: none; color: #333; }
.search_main, .tag_cloud {-moz-box-shadow:none; background-color: #eee; border-color: #ddd; }
.search_main input.field {background-color: #fafafa; }
.tag_cloud a {text-shadow: 0 1px 1px #fff }
#listings-webref-search {border-top-color: #ccc; }
#panbut span {background-image: url(images/panel_btn.png); color: #333; text-shadow: 1px 1px #fff; }

/* 2.4 Content */

.home #content {border-top-color: #ddd;}
#content {border-top: none; border-bottom: 1px solid #ddd; }

.post h1, .post h2 {background-image: none; padding: 0;}

/* 2.4.1 Carousel */

#featured_slider {padding: 20px; background: #eee url(images/grad-trans.png) repeat-x; border-bottom: 1px solid #ddd; }
#featured_slider .jcarousel-clip {width:898px;}
#featured_slider .jcarousel-container {width:938px;}
#featured_slider h2 {margin-bottom: 20px; font-size: 16px;}
#featured_slider .jcarousel-item {width: 115px; height: 185px; margin-right: 40px; display: block; }

#featured_slider .jcarousel-item .slider-img a { display: block; position: absolute; top: 3px; width: 115px; height: 178px; text-decoration: none;}
#featured_slider .jcarousel-item .slider-img a span.rollover {display: block; margin-top: 0px; text-indent: -9999px; width: 95px; height: 158px; font-family: Arial, sans-serif;  }

#featured_slider .jcarousel-item .slider-img a span.title, #featured_slider .jcarousel-item .slider-img a span.learn-more, #featured_slider .jcarousel-item .slider-img a span.author { text-indent: -9999px; display: block; }

#featured_slider .jcarousel-item .slider-img a:hover span.rollover {background: rgba(0,0,0,0.75); padding:10px; color: #FFFFFF; text-indent: 0px; font-size: 12px; text-align: center; border: 1px solid #111; }
#featured_slider .jcarousel-item .slider-img a:hover span.title {margin-bottom: 10px; font-weight: bold; display: block; text-indent: 0px; font-size: 13px; }
#featured_slider .jcarousel-item .slider-img a:hover span.author {display: block; text-indent: 0px; }
#featured_slider .jcarousel-item .slider-img a:hover span.learn-more {margin-top: 10px; display: block; color:#F45A13; text-indent: 0px; text-transform: uppercase; font-size: 11px; }

#featured_slider .jcarousel-item .woo-image {border: 1px solid #fff; -moz-box-shadow: 0px 0px 3px #999; -webkit-box-shadow: 0px 0px 3px #999; box-shadow: 0px 0px 3px #999; margin: 3px 0 3px 0; margin-right: 20px;}
#featured_slider .jcarousel-next, #featured_slider .jcarousel-prev {margin-top: -100px;}

/* 2.4.2 Listings */

h2, .listings h2, .more-listings h2 {font-size: 16px; text-transform:none; }

.home .listings {background: #fff url(images/grad-trans.png) repeat-x; padding: 0;}
.listings {padding: 10px; margin: 0; }
.listings-inner {padding: 10px; }
.listings h2 {padding: 10px 20px 20px 10px; }
.home .listings h2 {padding: 20px 20px 10px 20px;}
.listings p {padding: 10px 0 0 0;}
.listings .block {width: 268px; border: 1px solid #eee; margin: 10px; background: #f8f8f8 url(images/grad-trans.png) repeat-x; padding: 10px; }
.listings .block h2  {background-image: none; padding: 0; color: #999; width: auto; }
.listings .block h2 a {font-size: 14px; line-height: 18px; font-weight: bold;}
.listings img {border: 1px solid #fff; -moz-box-shadow: 0px 0px 3px #999; -webkit-box-shadow: 0px 0px 3px #999; box-shadow: 0px 0px 3px #999; margin: 0 0 10px 10px;}
.listings .latest-listing { color: #999; font-size: 11px !important; padding: 5px 0 0 0; line-height: 20px; font-style: italic; }
.listings .latest-listing a {padding: 10px 0 0 0; font-style: normal; font-family: Arial, sans-serif; line-height: 16px;  }

h3.banner, div.fake-banner {background: #666 url("images/white-line.png") repeat-x top left; border-bottom: 1px solid #444; border-top: 1px solid #444; font-size: 14px; }

/* 2.4.3 More Listings */

.home .more-listings {border-top: 1px solid #ddd; background: #eef7fa url("images/grad-trans.png") repeat-x; padding-top: 20px;}
.more-listings h2 {margin: 0 22px; padding: 0;}
.more-listings .block {width: 304px;}
.more-listings .block .woo-image {float:left; margin-right: 15px; -moz-box-shadow: 0px 0px 2px #999; -webkit-box-shadow: 0px 0px 2px #999; box-shadow: 0px 0px 2px #999; border: 1px solid #fff !important; }
.more-listings .block h2 {background-image: none; padding: 0; margin-bottom: 5px; font-size: 14px !important; line-height: 20px; font-weight: bold; border: none; }
.more-listings .block p, .similar-listings .block p {color: #999; font-style: italic; font-size: 12px; }
.more-listings .block p span, .similar-listings .block p span {font-style: normal; font-weight: bold; font-family: Arial, sans-serif; color:#666; font-size: 12px; margin-right: 5px; }
.more-listings p a {color: #666;}

/* 2.4.4 Similar Listings */

.similar-listings {background: #fafafa url(images/grad-trans.png) repeat-x; border-bottom: 1px solid #ccc; border-top-color: #ddd; }
.similar-listings .woo-image {float: left; margin-right: 20px;}
.similar-listings .block h2 {background-image: none; padding: 0; margin-bottom: 5px; font-size: 14px !important; line-height: 20px; font-weight: bold; text-shadow: 1px 0 #fff; }
.similar-listings p {}
.similar-listings p a {color: #666;}

.more {text-transform: uppercase;  serif; background-color: #fff !important; border: 1px solid #eee; -moz-border-radius: 5px; border-radius: 5px; padding: 5px 5px 5px 5px; background-image: none !important; }
.more a {background: url("images/ico-arrow.jpg") no-repeat right center !important; font-style: normal !important; font-size: 11px; font-family: arial, sans-serif; color:#F45A13 !important; }

/* 2.5 Upload Listing Template */

#upload-listing form select {-moz-border-radius: 5px; border-radius: 5px;background-color: #F6F6F6;border-bottom: 1px solid #efefef;border-left: 1px solid #ccc;border-right: 1px solid #ccc;border-top: 1px solid #ccc;font-size: 12px;padding: 9px 12px;}
.page-template-template-upload-listing-php fieldset.submit-buttons {}
.controls .upload_button {background-color: #999; background-image: none; border-color: #666;}
#upload-listing form .featured-image {border-bottom: 1px solid #ddd; margin-bottom: 20px; }

.author-bio {padding: 20px;}
.author-bio .woo-image {border: 1px solid #eee; background-color: #fff; padding: 5px; float: left; margin-right: 20px; }
.author-bio h3 {margin-bottom: 10px;}
.author-bio p {font-family: Georgia, serif; font-size: 13px; color: #999; font-style: italic; }
.author-bio p.small {font-size: 10px; text-transform: uppercase; font-style: normal; margin-bottom: 10px;}

/* 2.6 Sidebar */

#sidebar-single {width: 390px;}
#gallery {width: 360px;}
#loopedSlider.gallery.sidebar, #loopedSlider.gallery.sidebar .container {width: 360px;}
.sidebar .jcarousel-container {width: 360px;}
.sidebar .jcarousel-clip {width: 325px;}

#sidebar-single h2 {margin-top: 20px;}
#sidebar-single .map {width: 360px;}

/* 2.7 Footer */

#footer {width: 978px !important; background: #666 url("images/white-line.png") repeat-x top left; border-bottom: 1px solid #444; border-top: 1px solid #444; }
#footer p {font-size: 12px;}

/*-------------------------------------------------------------------------------------------*/
/* 3. POSTS */
/*-------------------------------------------------------------------------------------------*/

.entry, .entry p {font-family: arial; sans-serif;}
.post-more {background-color: #fafafa; border: 1px solid #eee;}
.post-more a {color: #666; text-transform: none; font-weight: normal; }

/* 3.4 Listings post */

#main-single {width: 590px; }
#main-single.col-full { width: 980px; }
#main-single .woo-image {float: left; margin-right: 20px; -moz-box-shadow: 0px 0px 3px #999; -webkit-box-shadow: 0px 0px 3px #999; box-shadow: 0px 0px 3px #999; border: 1px solid #fff;}
#main-single .meta { margin: 20px 0 0 0; padding: 10px; background-color: #fafafa; border: 1px dotted #eee; width: 390px; }
#main-single .meta p {font-size: 14px; font-family: Georgia, serif; font-style: italic; color: #999; line-height: 28px; border-bottom: 1px dotted #ddd; }
#main-single .meta p.price {border: none; font-size: 24px; color: #666; padding-top: 15px;}
#main-single .meta p.buy {border: none; margin-top: 20px;}
#main-single .meta a.button {margin: 0; font-style: normal; }

/*-------------------------------------------------------------------------------------------*/
/* 4. WIDGETS */
/*-------------------------------------------------------------------------------------------*/

/* 4.2 Generic Widgets */

#footer-widgets {background: #fff url("images/grad-trans.png") repeat-x; }
#footer-widgets p {font-family: arial,sans-serif; line-height: 20px; }
#footer-widgets .block h3 {color: #111;}
#footer-widgets .widget h3 {border-bottom-style: dotted; border-color:#ccc; }
#footer-widgets .widget ul li {padding: 10px 0 !important; border-bottom-style: dotted; border-color:#ccc; }
#footer-widgets .widget_recent_entries ul li {padding: 10px 10px 10px 20px !important;}

/* 4.2 Specific Widgets */

/* BLOG AUTHOR WIDGET */

.widget_woo_blogauthorinfo .avatar {margin-top: 15px;}

/*-------------------------------------------------------------------------------------------*/
/* 5. COMMENTS */
/*-------------------------------------------------------------------------------------------*/

/* No specific changes in the child theme */

/*-------------------------------------------------------------------------------------------*/
/* 6. MISC */
/*-------------------------------------------------------------------------------------------*/

/* 6.1 Buttons */

a.button, a.comment-reply-link, #commentform #submit, input.button {background-image: -moz-linear-gradient(center top , #ca6b11 20%, #ae5704 100%); border-color: #ae5704; background: #ae5704; /*Fallback*/
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(.2, #ca6b11),
					color-stop(1, #ae5704)
				);
	background: -moz-linear-gradient(
					center top,
					#ca6b11 20%,
					#ae5704 100%
				);
}

a.button:hover, 
a.button.hover, 
a.button.active,
a.comment-reply-link:hover, 
#commentform #submit:hover,
input.button:hover { background: #ae5704; /*Fallback*/
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(.2, #ae5704),
					color-stop(1, #ca6b11)
				);
	background: -moz-linear-gradient(
					center top,
					#ae5704 20%,
					#ca6b11 100%
				);
}

a.button:active,
a.button.active,
input.button:active  {border-color: #ae5704;}

/* 6.2 IE Specific */
.ie7 #featured_slider .jcarousel-item .slider-img, .ie #featured_slider .jcarousel-item .slider-img  { position: relative; }
.ie7 #featured_slider .jcarousel-item .slider-img a, .ie #featured_slider .jcarousel-item .slider-img a  { left: 0; zoom:1; }
.ie7 #featured_slider .jcarousel-item .slider-img a span.rollover, .ie #featured_slider .jcarousel-item .slider-img a span.rollover  {position: relative; background-color: #000; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: alpha(opacity=0); }
.ie7 #featured_slider .jcarousel-item .slider-img a:hover span.rollover, .ie #featured_slider .jcarousel-item .slider-img a:hover span.rollover  { -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); }
.ie7 .search_main *  { zoom: 1; }
.ie7 .search_main .main-control .button  { padding-left: 14px; padding-right: 14px; }
.ie7 .more-listings *  { zoom: 1; }